<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/vue-resource/dist/vue-resource.min.jsp"></script>
    <link rel="stylesheet" href="css/styles.css"/>
    <meta charset="UTF-8">
    <title>Крестики нолики</title>
</head>
<body>
<div id="app">
    {{ message }}
    <input v-model="message">

    <div class="container">
        <div class="row buttons-wrapper">

            <buttons></buttons>


        </div>

    </div>

</div>
<script src="/js/scripts.js"></script>
</body>
</html>
